*~
*.pyc
.fuse_*
*#*#
*.root
!ttH_analyzer/data/*.root
!ttH_analyzer/data/*/*.root
crabConfig*.py
ttH_analyzer/test/crab/
crab.log

*.pdf
*.d
*.so
*.pcm

*.txt
*.log
*.out
*.json

*tmp*

ttH_analyzer/data/leptonSF/*.cc
*pickevents_*.py
*EventDump_*